<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Power Online</title>
    <meta http-equiv="Content-Language" content="{{lang}}">
    <meta name="google" content="translate" />
    <meta name="description" content="{{ metatags.description }}" >
    <meta name="keywords" content="{{ metatags.keywords }}" >
    <meta name="application-name" content="{{ metatags.applicationname }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <!-- Elm fix to compatible view -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- Elm fix to support resonsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- For Hannover -->
    <!-- <meta name="robots" content="{{ metatags.robots }}"> -->
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link rel="icon" href="src/assets/favicons/favicon.ico"> -->

    <!--Third party css START-->
    <!-- <link rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.min.css" type="text/css" async defer> -->
     <!--Third party css END-->

    <!--Third party scripts use async defer-->
    <!-- <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83234106-1', 'auto');
    


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX4nVNvmADx3zPuq3iNgMb6a4B0RcbKpA"></script>
    <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/three.min.js" async defer></script>
    <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js" async defer></script>
    <script src="https://secure.aha.io/assets/idea_portals/embedded/application.js" data-portal-url="https://plm.ideas.aha.io/" async defer></script>
    </script> -->
    
    <!--Third party scripts use async defer END-->
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
