/* =background ----------------------------------------------- */
@import "~@/less/variables";
.bg-white {
  background-color: @base-white;
}

.bg-white-three {
  background-color: @white-three;
}

.bg-green {
  background-color: @cool-green;
}

.bg-kelley-green {
  background-color: @kelley-green;
}

.bg-puke-green {
  background-color: @puke-green !important;
}

.bg-grey {
  background-color: @warm-grey;
}

.bg-light-grey {
  background-color: @white-two;
}

.bg-dark-grey {
  background-color: @dark-grey;
}

.bg-light-blue {
  background-color: @light-blue;
}

.bg-transparent {
  background-color: transparent;
}

.bg-dark-overlay {
  background-color: @black-overlay;
}

.bg-light-overlay {
  background-color: @black-fade;
}

.bg-tasty-orange {
  background-color: @tasty-orange;
}

.bg-dark-red {
  background-color: @dark-red;
}

.bg-grapedrink-purple {
  background-color: #990099;
}

.bg-teal {
  background-color: @teal;
}
