/* =border ----------------------------------------------- */
@import "~@/less/variables";
.border-light-grey{
  border-color: @light-grey-border !important;
}

.border-thin-green {
  border: thin solid @cool-green !important;
}

.thin-border {
  border: thin solid @grey-border !important;
}

.thin-border-right {
  border-right: thin solid @grey-border !important;
}

.thin-border-bottom {
  border-bottom: thin solid @grey-border !important;
}

.thin-border-kelley-green-bottom {
  border-bottom: medium solid @kelley-green !important;
}

.thin-border-green-bottom {
  border-bottom: medium solid @cool-green !important;
}