/* =color ----------------------------------------------- */
@import "~@/less/variables";
.color-base-white {
  color: @base-white;
}

.color-white {
  color: @white-three !important;
}

.color-green {
  color: @cool-green;
}

.color-kelley-green {
  color: @kelley-green !important;
}

.color-light-blue {
  color: @light-blue;
}

.color-base-black {
  color: @base-black;
}

.color-black-overlay {
  color: @black-overlay;
}

.color-red, .color-validation-error {
  color: @red;
}

.color-warm-grey {
  color: @warm-grey;
}

.color-light-grey {
  color: @light-grey;
}
.color-medium-grey {
  color: @medium-grey;
}

.color-dark-grey {
  color:@dark-grey;
}

.color-black-four {
  color: @black-four;
}
