/* =RDE default-element ----------------------------------------------- */
* {
    -o-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

html, body {
  min-height : 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Nunito' !important;
  color: @base-black;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  border-bottom: 1px solid #ddd;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

// a, a:hover, a:visited, a:active, a:focus {
//   color: @light-blue;
// }
