/* =draggable ----------------------------------------------- */
@import "~@/less/border";
.drag-enter {
    .border-thin-green;
    cursor: copy !important;
}

[ng-drag].dragging {
  cursor: copy;
}

[ng-drag] {
  cursor: copy;
}