/* =fill ----------------------------------------------- */
/** Needed for setting color on svg:s from zeplin */
@import "~@/less/variables";
.svg-fill svg g {
  fill: inherit;
}

.fill-black {
  fill: @base-black;
}

.fill-green {
  fill: @cool-green;
}

.fill-half-green {
  opacity: 0.5;
  fill: @cool-green;
}

.fill-kelley-green {
  fill: @kelley-green;
}

.fill-grey {
  fill: @warm-grey;
}

.fill-dark-grey {
  fill: @dark-grey;
}

.fill-white {
  fill: @base-white;
}

.fill-light-blue {
  fill: @light-blue;
}

.fill-red {
  fill: @red;
}
