/* =font-sizes default-element ----------------------------------------------- */

/*Sizes are defined at https://app.zeplin.io/project.html#pid=56a50159b84753ad3879f9bc&sid=57cd7133f742856f09fe2e22*/
@import "~@/less/variables";
html {
  font-size: @base-font;
}

/*Hopefully body is inherited so don't use large*/
body, p, .large {
  font-size: 1.4rem;
}

h1 {
  font-size: 2.4rem;
}

/*Use h2*/
h2, .font-large {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

/*Use captions*/
.captions, .medium {
  font-size: 1.2rem;
}

.small, .font-small {
  font-size: 1.0rem;
}

.font-size-14 {
  font-size: 1.4rem;
}

.font-size-18 {
  font-size: 1.8rem;
}

.font-size-24 {
  font-size: 2.4rem;
}

.font-size-32 {
  font-size: 3.2rem;
}
