/* =height ----------------------------------------------- */

.height-48 {
  height: 48px;
}

.height-65 {
  height: 65px;
}

.min-height-65 {
  min-height: 65px;
}

.min-height-80 {
  min-height: 80px;
}

.height-80 {
  height: 80px;
}

.min-height-100 {
  min-height: 100%;
}

.height-232 {
  height: 232px;
}
