/* =icon ----------------------------------------------- */
.elm-icon {
  width: 100%;
  height: 100%;
  background-position: 50% 30%;
  &.my_activity {
    background-image: url('../assets/img/my_activity-idle.svg');
    &:active, &.active {
      background-image: url('../assets/img/my_activity-active.svg');
    }
  }
  &.manage_collab {
    background-image: url('../assets/img/manage_collab-idle.svg');
    &:active, &.active {
      background-image: url('../assets/img/manage_collab-active.svg');
    }
  }
  &.digital_services {
    background-image: url('../assets/img/digital_services-idle.svg');
    &:active, &.active {
      background-image: url('../assets/img/digital_services-active.svg');
    }
  }
  &.libraries {
    background-image: url('../assets/img/libraries-idle.svg');
    &:active, &.active {
      background-image: url('../assets/img/libraries-active.svg');
    }
  }
  &.market_place {
    background-image: url('../assets/img/market_place-idle.svg');
    &:active, &.active {
      background-image: url('../assets/img/market_place-active.svg');
    }
  }
  &.support {
    background-image: url('../assets/img/support-idle.svg');
    &:active, &.active {
      background-image: url('../assets/img/support-active.svg');
    }
  }
}

.icon-circle {
  border: 2px solid grey;
  width: 12px;
  height: 12px;
  border-radius: 12px;
}
