/* =initials ----------------------------------------------- */
@import "~@/less/variables";
initials {
  .initials {
    text-transform: uppercase;
    line-height: 0px;
    display: inline-block;
    border-radius: 50%;
    background-color: @grey-border;
    //width: 36px;
    //height: 36px;
    text-align: center;

    span {
      display: inline-block;
      color: white;
      //font-size: 1.8rem;
      font-weight: bold;
      padding-top: 50%;
      padding-bottom: 50%;
    }
  }

  img {
    border-radius: 50%;
  }
}
