/* =invites ----------------------------------------------- */
.invites {
  button {
    font-size: 10px;
    width: 20px;
    min-height: 25px;
    min-width: 30px;
    line-height: inherit;
    margin:0 0 0 0px
  }
  button:last-child {
    margin:0 0 0 8px
  }
}