/* =keyframes ----------------------------------------------- */
@import "~@/less/variables";
@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes colors {
  //0% { stroke: #4285F4; }
  //25% { stroke: #DE3E35; }
  //50% { stroke: #F7C223; }
  //75% { stroke: #1B9A59; }
  //100% { stroke: #4285F4; }
  0% { stroke: @cool-green; }
  25% { stroke: @kelley-green; }
  50% { stroke: @cool-green; }
  75% { stroke: @kelley-green; }
  100% { stroke: @cool-green; }
}


@keyframes dash {
  0% { stroke-dashoffset: @offset; }
  50% {
    stroke-dashoffset: @offset/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: @offset;
    transform:rotate(450deg);
  }
}
