/* =main-blocks ----------------------------------------------- */
/* needed for sticky footer */
#main {
  top: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.wrap {
  height: 100%;
  max-height: 100%;
}
.elm-wrap {
  // display: flex;
  // min-height: 100vh;
  // flex-direction: column;
  display: block;
}

#rightColumn {
  padding-top: 0.8rem;
}

/* needed for sticky footer */
// .elm-container {
  // flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  // display: block;
// }

.elm-container > div > md-content {
  // display: flex;
  display: block;
  height: 100%;
  overflow: visible;
}

.lt-ie9 .elm-container > div > md-content {
  display: block;
  height: 100%;
}

.lt-ie10 .elm-container > div > md-content {
  float: left;
  height: 100%;
}
