/* =margin ----------------------------------------------- */
.margin-top-bottom-02 {
  margin: 0.2rem 0;
}

.margin-top-3px {
  margin-top: 3px;
}

.margin-10 {
  margin: 1rem;
}

.margin-right-5px {
  margin-right: 5px;
}

.margin-left-05 {
  margin-left: 0.5rem;
}

.margin-left-10, .margin-left-10px {
  margin-left: 1rem;
}

.margin-right-10 {
  margin-right: 1rem;
}

.margin-bottom-10 {
  margin-bottom: 1rem;
}

.margin-top-bottom-10 {
  margin: 1rem 0;
}

.margin-left-padding-top-bottom-10 {
  margin-left: 1rem;
  padding: 1rem 0;
}

.margin-bottom-15 {
  margin-bottom:1.5rem;
}

.margin-top-20 {
  margin-top: 2rem;
}

.margin-right-20 {
  margin-right: 2rem;
}

.margin-right-25 {
  margin-right: 2.5rem;
}

.margin-bottom-25 {
  margin-bottom:2.5rem;
}

.margin-top-40 {
  margin-top: 4rem;
}

.margin-right-100 {
  margin-right: 10rem;
}

/*New aligment with angular material margins with 8px */
.margin-0{
  margin: 0;
}

.margin-top-0 {
  margin-top: 0;  
}

.margin-right-0 {
  margin-right: 0rem;
}

.margin-bottom-0 {
  margin-bottom: 0rem;
}

.margin-left-0 {
  margin-left: 0rem;
}

.margin-4 {
  margin: 0.4rem; 
}

.margin-top-bottom-4 {
  margin: 0.4rem 0;
}

.margin-top-4 {
  margin-top: 0.4rem;  
}

.margin-bottom-4 {
  margin-bottom: 0.4rem; 
}

.margin-left-4 {
  margin-left: 0.4rem; 
}

.margin-8 {
  margin: 0.8rem;
}

.margin-top-bottom-8 {
  margin: 0.8rem 0;
}

.margin-top-8 {
  margin-top: 0.8rem;
}

.margin-top-12-important {
  margin-top: 1.2rem !important;
}

.margin-right-1 {
  margin-right: 0.1rem;
}

.margin-right-2 {
  margin-right: 0.2rem;
}

.margin-left-2 {
  margin-left: 0.2rem;
}

.margin-right-4 {
  margin-right: 0.4rem;
}

.margin-top-8 {
  margin-top: 0.8rem;
}

.margin-right-8 {
  margin-right: 0.8rem;
}

.margin-bottom-8 {
  margin-bottom: 0.8rem;
}

.margin-left-8 {
  margin-left: 0.8rem;
}

.margin-top-bottom-8 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.margin-right-left-8 {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.margin-top-negative-12px {
  margin-top: -12px;
}

.margin-top-12 {
  margin-top: 1.2rem;
}

.margin-right-12 {
  margin-right: 1.2rem;
}

.margin-bottom-12 {
  margin-bottom: 1.2rem;  
}

.margin-left-12 {
  margin-left: 1.2rem;
}

.margin-16 {
  margin: 1.6rem;
}

.margin-top-16 {
  margin-top: 1.6rem;
}

.margin-right-16 {
  margin-right: 1.6rem;
}

.margin-bottom-16 {
  margin-bottom: 1.6rem;
}

.margin-left-16 {
  margin-left: 1.6rem;
}

.margin-top-bottom-16 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.margin-right-left-16 {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}

.margin-right-18 {
  margin-right: 1.8rem;
}

.margin-left-24 {
  margin-left: 2.4rem;
}

.margin-left-32 {
  margin-left: 3.2rem;
}

.margin-right-24 {
  margin-right: 2.4rem;
}

.margin-bottom-24 {
  margin-bottom: 2.4rem;
}

.margin-top-32 {
  margin-top: 3.2rem;
}

.margin-right-32 {
  margin-right: 3.2rem;
}

.margin-bottom-45 {
  margin-bottom: 4.5rem;
}
