/* =material-override ----------------------------------------------- */
@import "~@/less/variables";
@import "~@/less/color";

.elm-container > div > md-content {
    display: flex;
    height: 100%;
}

md-content {
  overflow: inherit !important;
}

/*Dropdown*/
md-select.md-default-theme .md-select-value, md-select .md-select-value {
  /*border-bottom-color: rgba(0,0,0,0.12);*/
  /*border-bottom: transparent !important;*/
}

md-input-container.chat-input.md-input-focused input,  md-input-containers.chat-input.md-input-has-value input{
  font-size: 16px;
}

md-input-container.chat-input.md-input-focused #icons {
  display: none;
}

md-input-container.chat-input #icons {
  position: absolute;
  bottom: 18px
}

.md-tabs .md-tabs-navigation {
  min-height: 100%;
  height: 100%;
}

.md-button._md-nav-button {
    line-height: 24px;
    margin: 0 4px;
    padding: 12px 16px;
    -webkit-transition: background-color .35s cubic-bezier(.35,0,.25,1);
    transition: background-color .35s cubic-bezier(.35,0,.25,1);
}

.layout-fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.md-ripple-container {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .55s cubic-bezier(.25,.8,.25,1);
    transition: all .55s cubic-bezier(.25,.8,.25,1);
}

.md-tabs-navigation {
  .md-button {
    height: 38px !important;
  }
  .md-button-content {
    font-weight: bold;
  }
}

html.md-theme-default {
    color: var(--md-theme-default-text-primary-on-background-variant, black) !important;
}
// md-input-container > md-select {
//   border: 1px solid #3dcd58;
//   padding: 0 0 5px 5px;
// }
//
// md-select-menu.md-default-theme md-option[selected], md-select-menu md-option[selected] {
//   /*color: rgb(63,81,181);*/
//   color: rgba(61, 205, 88, 1);
// }
// md-select.md-default-theme:not([disabled]):focus .md-select.value, md-select:not([disabled]):focus .md-select.value {
//   /*color: rgb(63,81,181);*/
//   /*border-bottom-color: rgb(63,81,181);*/
//   border-bottom-color: transparent;
// }
// md-select-menu.md-default-theme md-option[selected], md-select-menu md-option[selected] {
//   color: rgba(61, 205, 88, 1);
// }
// md-select-menu.md-default-theme md-option[selected]:focus, md-select-menu md-option[selected]:focus {
//   color: rgba(61, 205, 88, 1);
// }

md-select.md-elm-default-theme-theme .md-select-value.md-select-placeholder {
  .color-base-black;
}

md-toast {
  position: fixed;
}


md-dialog.md-dialog-fullscreen {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

md-card {
  margin-bottom: 1.8rem;
}

md-card-content {
  height: 100%;
  min-width: 100%;

  .empty {
    height: 70%;
  }

}

md-toolbar.md-elm-default-theme-theme:not(.md-menu-toolbar) {
  &.elm-main-nav {
    background-color: @white-three;
  }
}

md-toolbar {
  .md-toolbar-tools{
    h2 {
        color: @white-three;
    }
  }
  button {
    md-icon {
      fill: @white-three;
    }
  }
}

/** Needed for fill color setting of md-icon with svg to have effect **/
md-icon svg , md-icon svg g {
  fill: inherit;
  color: transparent !important;
}

i svg, i svg g {
  fill: inherit !important;
  color: transparent!important;
}

object svg, object svg g {
    fill: inherit !important;
    color: transparent!important;
}

md-icon.md-elm-default-theme-theme {
  color: transparent;
  /*To idendtify which icons are wrong show purp
  color: purple;*/
}

md-icon svg g {
  fill: inherit;
  color: transparent !important;
}

md-card-avatar img {
  height: 30px;
  width: 30px;
  object-fit: contain;
  border-radius: 24px;
}

//fix equal height of input elements: https://github.com/angular/material/issues/6214
md-input-container .md-errors-spacer {
  min-height: 0;
}

md-content.md-elm-default-theme-theme {
  background-color: @base-white;
}
