/* =media-query ----------------------------------------------- */
@import "~@/less/variables";
.elm-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: inherit;

}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px;
}

@media screen and (max-width: 456px) {
  #mainColumn {
    margin-bottom: 42px;
  }

  md-sidenav {
    min-width: calc(200px);
    width: 200px;
  }
  .modal {
    display: none !important;
  }
  .marginZeroMobile {
    margin: 0px !important;
  }
  #plm-header plm-header-login .plm-header-top {
    padding-right: 0px !important;
    ul {
      padding-left: 12px !important;
    }
  }
  #plm-header .schneiderElectricLogo {
    position: absolute;
    right: 8px;
    top: 4px;
  }
  .videoSize {
    height: 121px !important;
    width: 207px;
  }
  .collaborator-widget .tab-content .project-description {
    max-width: 90vw;
  }
  .spot {
    .youtube-dec {
      max-width: 100% !important;
      height: auto;
    }
  }
}

@media screen and (min-width: 456px) and (max-width: 599px) {
  .youtube-dec {
    max-width: 426px !important;
  }
  .spot {
    .youtube-dec {
      max-width: 426px !important;
      height: auto;
    }
  }
}


/*Material XS*/
@media screen and (max-width: 599px) {
  #mainColumn {
    margin-bottom: 42px;
  }
  .companyLogo {
    margin-left: 8px;
  }

  #plm-header plm-header-login .plm-header-top {
    padding-right: 0px !important;
    ul {
      padding-left: 12px !important;
    }
  }
  #plm-header .schneiderElectricLogo {
    position: absolute;
    right: 8px;
  }
  .videoSize {
    height: 244px !important;
  }

  .fillXs {
    width: 100%;
  }
  .timeline-card-pos {
    margin-left: 16px !important;
  }
  .spot {
    display: block !important;
    height: auto !important;
  }
}

/*Material gt-xs*/
@media screen and (min-width: 600px) {
  .companyLogo {
    margin-left: 8px;
  }
}

/*Material sm*/
@media screen and (min-width: 600px) and (max-width: 959px) {

  .elm-container {
    width: 750px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .spot {
    height: 240px;
    width: 220px;
    margin: 8px 16px 8px 0 !important;
  }

  .spotLarge {
    height: 440px;
    width: 220px;
    margin: 8px 16px 8px 0 !important;
  }

  .collaborator-widget .tab-content .contacts-repeat .contact {
    padding-left: 12px;
  }
  .collaborator-widget .tab-content .contacts-repeat .pending {
    padding-left: 18px;
  }
}

/*Material gt-sm*/
@media screen and (min-width: 960px) {
  .elm-container {
    width: 970px;
  }

  .left-minus-2-procent {
    left: -2%;
  }
}

/*Material md*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
  #card-layout-plugins md-card {
    width: 332px;
  }
  .collaborator-widget .tab-content .contacts-repeat .contact {
    padding-left: 12px;
  }
  .collaborator-widget .tab-content .contacts-repeat .pending {
    padding-left: 18px;
  }
}

/*Material gt-md*/
@media screen and (min-width: 1280px) {

  #router-view {
    padding-top: @headerHeight;
    display: flex;
    flex-direction: column;
  }

  elm-breadcrumb {
    &.noTabMenu {
      top: 32px;
    }
  }

  #plm-user-account-menu {
    margin: auto;
    padding: auto;
    width: 100%;

    .md-sidenav-left {
      position: fixed;
      top: 72px;
    }
    > md-content {
      position: relative;
      margin-left: 320px;
    }
    .accountPage {
      padding-left: 16px;
      margin: 72px 0 0 0;
    }
  }

  .three-column {
    #mainColumn {
      position: absolute;
      margin-left: 25%;
      min-width: 45%;
      left: 0px;
      top: @headerHeight;
    }

    #leftColumn {
      position: relative;
      top: @headerHeight;
      padding-left: 16px;
      left: 0px;
      bottom: 0px;
      overflow-y: hidden;
      overflow-x: hidden;
      height: calc(~"100vh" - @headerHeight);

      collaborator-widget {
      /* max-width: 100%; */
        /* padding-left: 0px; */
        /* margin-right: 16px; */
        right: calc(~"80% + 4px");
        position: fixed;
        min-width: 0px;
        left: 23px;
        width: auto;
        /* display: block; */
       
        /* box-sizing: border-box; */
        /* padding-right: 8px; */
      }
    }

  }

  #mainColumn {
    position: relative;
    margin-left: 25%;
    min-width: 45%;
    left: 0px;
    top: @headerHeight;
    padding-left: 0px !important;
  }

  elm-breadcrumb {
    position: fixed;
    top: @headerHeight;
    z-index: 22;
  }

  #plm-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 22;
    background-color: @base-white;
  }

  .elm-wrap > md-progress-linear {
    z-index: 23;
    position: fixed;
    top: @headerHeight;
  }

  .elm-breadcrumb-showing {
    #mainColumn, #rightColumn, #leftColumn {
      top: @headerWithBreadcrumbHeight;
    }
    #rightColumn, #leftColumn {
      /* height: calc(~"100vh - 134px");*/
      height: calc(~"100%" - @headerWithBreadcrumbHeight);
      padding-bottom: 16px;
    }
    .collaborator-widget .tab-content .contacts-repeat.fullHeight {
       height: calc(~"50vh" - @collaboratorWidgetWithBreadcrumbHeight);
    }
      
  }

  #rightColumn {
    position: fixed;
    padding-right: 16px;
    top: @headerHeight;
    min-width: 25%;
    right: 0px;
    overflow: scroll;
    display: block;
    height: 100%;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(~"100vh" - @headerHeight);
    padding-top: 0px;
    .elm-modules-category {
      margin: 0px 8px 1px 8px;
    }
    
  }
  
  #leftColumn {
    position: fixed;
    top: @headerHeight;
    padding-left: 16px;
    left: 0px;
    bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    height: calc(~"100vh" - @headerHeight);
    width: 100%;

    collaborator-widget {
    /* max-width: 100%; */
      /* padding-left: 0px; */
      /* margin-right: 0px;*/
  
      position: absolute;
      left: 23px;
      width: calc(~"25vw - 32px");
      /* display: block; */
      
      /* box-sizing: border-box; */
      /* padding-right: 8px; */
    }
  }

  .elm-container {
    width: 1024px;
  } 
  .elm-container-inner-above-1280 {
    width: 100% !important;
    padding: 0 16px;
  }

  collaborator-widget {
    display: block;
     box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4) !important;
  }

  .collaborator-widget {
    width: 207px;
    min-height: 100%;
    display: block;
    height: calc(100vh - @headerHeight);
    background-color: @base-white;
    .md-subheader-inner {
      border-bottom: 1px solid @light-grey;
      font-size: 1.4rem;
      font-weight: bold;
      color: @base-black;
    }
  }

  .collaborator-widget.fullHeight {
    min-height: 100%;
    display: block;
    height: 100%;
    background-color: white;
    top: 0px;
    position: relative;
    box-shadow: none;
    width: 100%;
  }

  .collaborator-widget .tab-content{
    height: calc(~"50%" - @collaboratorWidgetTabContent);
    display: block;
    width: 100%;
  }
     

  .collaborator-widget .tab-content .contacts-repeat.fullHeight {
    top: 0px !important;
    display: block;
    height: calc(~"50vh" - @collboratorRepeatsHeight);
    border-top: 1px solid @light-grey;
  }


  .collaborator-widget.mini {
    height: calc(100vh); 
  }

  #card-layout-plugins md-card {
    width: 350px;
  }

  .collaborator-widget .tab-header .with-border {
    border-bottom: #eaeaea;
  }

  .collaborator-widget .tab-header {
    background-color: #eaeaea;
    color: #000;
  }

  .footer-holder {
    position: relative;
    padding-left: 8px;

    .chat-footer {
      position: relative;
      left: 0px;
      bottom: 0px;
      width: 100%;
      display: block;

      chat {
        background-color: #F7F7F7;
        width: 260px;
        margin-left: 8px;
        margin-right: 8px;
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: calc(~"25% + 4px");
        &#chat1 {
          margin-left: 280px !important;
        }
        &#chat2 {
          margin-left: 553px !important;
        }
      }
      
    }
  }

  .collaborator-widget .tab-content.elm-modules-category {
    max-height: none;
  }

  .collaborator-widget .tab-content .project-title {
    margin-left: 8px;
    max-width: 14vw;
  }

  .collaborator-widget .tab-content .project-description {
    max-width: 15vw;
  }

  .collaborator-widget .tab-content .contacts-repeat {
    padding: 0 8px;
    button {
      padding-right: 16px;
    }
    initials {
      padding-left: 8px;
    }
  }

  .collaborator-widget .tab-content .contacts-repeat .contact {
    margin-right: 8px;
    button {
      padding-right: 16px;
    }
    initials {
      padding-left: 8px;
    }
  }

  .timeline-item:before {
    left: 13px !important;
  }

  .ball {
    left: 8px;
  }
  .timeline-pos {
     padding-left: 3px !important;
  }

  .product-list {
    md-whiteframe:nth-child(3n+1) {
      margin-left: 4px;
    }

    md-whiteframe:nth-child(3n+0) {
      margin-right: 4px;
    }
  }

}

@media screen and (max-width: 900px) {
  .se-mainmenu {
    display: none !important;
  }
  .md-dialog-container{
    height: 100% !important;
    top: 0 !important;
  }
}

@media screen and (min-width: 900px) {

}
