@import "~@/less/variables";

.ribbon(@width, @top, @left) {
  .ribbon {
      position: absolute;
      left: -1px;
      top: -1px;
      z-index: 1;
      overflow: hidden;
      width: 100%; 
      height: 100%;
      text-align: right;
      
      & span {
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          line-height: 20px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          width: @width;
          display: block;
          position: absolute;
          top: @top; 
          left: @left;

          &::before {
            position: absolute; 
            left: 0px; 
            top: 100%;
            z-index: -1;
          }
          &::after {
            position: absolute; 
            right: 0px; 
            top: 100%;
            z-index: -1; 
          }
      }
  }
}
