/* =my-plm-account -------------------------------------------- */
@import "~@/less/variables";
@import "~@/less/reusable-classes";

#plm-user-account-menu {
  .md-sidenav-left {
    border-right: solid 3px @light-grey;
  }
  .plm-account-active-menu {
    background-color: @dark-grey;
    color: @base-white;
  }
  .plm-account-notactive-menu {
    background-color: @base-white; 
  }

  ul {
    padding: 0;
  }

   md-content {
      min-height: calc(~"100vh - 93px");
      padding-bottom: 0;
   }

   md-divider.md-elm-default-theme-theme {
    border-top-color: @cool-green;
  }

  md-divider {
    border-top-width: 2px;
  }

  .subscription-description {
    width: 448px;
    height: 40px;
    line-height: 1.43;
    text-align: left;
  }

  .unsubscribed-type-box, .subscription-type-box {
    width: 194px;
    height: 102px;
    border-radius: 5px;
    margin-right: 1.6rem;
  }

  .selected {
    border: solid 2px @cool-green; 
  }

  .subscribe-link-box {
    width: 91px;
    height: 20px;
    border-radius: 2px;
  }
}

#plm-user-details-page {
  #profile-picture {
    .image-borders {
      width: 120px;
      height: 120px;
      border-radius: 100px;
      background-color: @white-three;
      border: solid 1px @light-grey-border;
    }
    img {
      margin: auto;
    }
  }
  #social-credentials {
    .social-icon-box {
      border-radius:2px;
      display: inline-flex;
    }
  }
}

#global-contacts-list {
  #contacts-tabs {
    md-tabs-wrapper {
      background-color: @cool-green;
    }
    md-ink-bar {
      background-color: @kelley-green;
      display: -webkit-box;
    }
    .tab-inactive {
      color: @light-grey;
      font-weight: normal;
    }
    .line-color {
      border-top-color: #bdbdbd;
    }
  #contact-detail-row { 
    :hover {
      background-color: @white-two;
      .pointer;
    } 
    div{
      .no-aria;  
    }
  }
    #contact-groups {
      div{
        .no-aria;
      }
    }
    .contacts-list-height {
      min-height: calc(~"100vh - 93px");
    }
    md-divider.md-elm-default-theme-theme {
      border-top-color: @grey-border;
    }
  }
}

/* =End of my-plm-account main column */
