/* =notificaiton ----------------------------------------------- */
/*This one is specific for notification*/
@import "~@/less/variables";
@import "~@/less/background";
.width-label-notification {
  width: 55px;
}

.elm-notifications-btn {
  background-image: url('/img/bell.svg');
  background-color: #ffffff;
  height: 18px;
  width: 18px;
  border: 0;
  padding: 0;
  outline: 0;
}

.elm-notification-icon {
  position:absolute;
  margin-left: 32px;
  margin-top: -26px;
  z-index: 12;

}

.elm-notification-icon[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background:@base-black;
   color:@white-three;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.counter .elm-notification-icon {
  position: absolute;
  margin-left: -18px;
  margin-top: 3px;
  z-index: 12;
}

.md-nav-item .elm-notification-icon,  .elm-tight .elm-notification-icon{
    position: absolute;
    /* margin-left: 32px; */
    top: 53px;
    z-index: 12;
    right: 12px;
}

.header-logged-in .elm-notification-icon {
    position: absolute;
    /* margin-left: 32px; */
    top: -18px;
    z-index: 12;
    right: 7px;
} 

.md-nav-item .elm-notification-icon,  .elm-tight .elm-notification-icon, .counter .elm-notification-icon{
   &[data-badge]:after {
    background: @dark-red;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.55);
    color: @white-three;
    width:14px;
    height:14px;
    text-align:center;
    line-height:15px;
    font-size: 8px;
    font-weight: lighter;
  }
}

.elm-tight .elm-notification-icon {
  margin-right: 12px;
}

.elm-notification {
  min-width: 14px;
  min-height: 14px;
  border-radius: 14px;
  background-color: @dark-red;
  color: white;
  font: normal 1rem sans-serif;
  font-weight: bold;
  display: inline;
  position: absolute;
  padding: 2px;
  margin-left: 4px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.elm-notification-popup-menu {
  width: 340px;
  height: 100%;
  border-radius: 6px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  .header {
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: bold;
    color: @cool-green;
    padding: 10px 0 0 10px;
    > .md-subheader-inner {
        padding: 0;
    }
  }
}

.notification-label {
  border-radius: 2px;
  font-size: 1rem;
  align-items: center;
  padding: 2px 4px;
  height: auto;
  width: auto;
  color: #ffffff;
  text-transform: capitalize;

  &.new {
    .bg-green;
  }
  &.completed {
    .bg-green;
  }
  &.in-progress {
    .bg-light-blue;
  }
  &.update {
    .bg-light-blue;
  }
  &.updated {
    .bg-light-blue;
  }
  &.invite {
    .bg-tasty-orange;
  }
  &.pending {
    .bg-tasty-orange
  }
  &.overdue {
    .bg-dark-red;
  }
  &.task {
    .bg-grapedrink-purple;
  }
  &.delete {
    .bg-dark-red;
  }
  &.note {
    .bg-teal;
  }
}

.notification-button {
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  &:hover {
    background-color: @light-grey;
  }
}

.notification-profile-icon {
  width: 50px;
  height: 100%;
  img {
    width: 25px;
    height: 25px;
    border-radius: 25px;
  }
}

.notification-menu-item {
  width: auto;
  height: 30px;
  justify-content: space-between;
  p {
    margin: 0;
  }
}

.notification-message {
  line-height: 1.5em;
  height: 3em;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
