/* =others ----------------------------------------------- */
/*.restore.md-button.md-raised:not([disabled]):active; {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}*/
@import "~@/less/variables";
@import "~@/less/color";

.md-button.elm-button-small {
  min-height: 23px !important;
  min-width: 46px !important;
  font-size: 1rem !important;
  line-height: 1rem !important;
}

.se-bottom-list {
  img {
    width: auto;
    height: auto;
  }
}

.elm-tight {
  margin: 0;
  padding: 0;
}

.md-sidenav-left {
   border-right: 5px solid @cool-green;
}

.elm-sharp-edges {
  border-radius: 0;
}

.project-tools .tool-item {
  font-size: 10px;
  margin-bottom: 20px;
}

.project-tools .tool-item md-icon {
  width: 36px;
  height: 36px;
}

.green-box {
  background-color: @cool-green;
  color: @white-three;
}

.green-divider {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: @cool-green;
}

.circle-img {
  border-radius: 50%;
}

.filters-header {
  font-weight: bold;
}

.filters-filter {
  color: @warm-grey;
}

.tree-content-layout {
  div {
    h6 {
      height: 50px;
    }
    h5 {
      color:@kelley-green;
      font-size:1.4rem;
      height: 50px;
    }
    p {
      height: 85px;
      margin-top: 0;
    }
  }
}

.extanded {
  .header-list {
    border-bottom: thin solid @cool-green !important;
  }
  .content-list {
    outline: 0;
    border-bottom: thin solid @grey-border !important;
    div > md-content > md-list > md-list-item {
      p a {
          color: @black-four;
          text-decoration: underline;
      }
      p:hover a {
        color: @kelley-green;
      }
    }
  }
  .content-list.marked {
    background-color: @light-grey-border;
    md-content, .md-subheader {
      background-color: @light-grey-border;
    }
  }
}

.se-mainmenu .nav .searchMarRt{
  display: none;
}

// Here is where the magic happens
.spinner {
  animation: rotator @duration linear infinite;
}

.path {
  stroke-dasharray: @offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
  dash @duration ease-in-out infinite,
  colors (@duration*4) ease-in-out infinite;
}
