/* =padding ----------------------------------------------- */
/*Don't use these ones*/
.padding-5 {
  padding: 0.5rem;
}

.padding-10 {
  padding: 1rem;
}

.padding-top-15 {
  padding-top: 1.5rem;
}

.padding-right-left-5 {
  padding: 0.5rem 0rem;
}

.padding-right-left-8perc {
  padding-left: 8%;
  padding-right: 8%;
}

.padding-left-15 {
	padding-left: 1.5rem;
}

/*New aligment with angular material padding with 8px */
.padding-0 {
  padding: 0rem;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.padding-top-bottom-4 {
  padding: 0.4rem 0;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-right-left-8 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.padding-8 {
  padding: 0.8rem
}

.padding-top-8 {
  padding-top: 0.8rem
}

.padding-right-8 {
  padding-right: 0.8rem;
}
.padding-bottom-8 {
  padding-bottom: 0.8rem
}

.padding-left-8 {
  padding-left: 0.8rem
}

.pading-top-16 {
   padding-top: 1.6rem;
}

.elm-padding-16, .padding-16 {
  padding: 1.6rem;
}

.padding-right-left-16 {
  padding: 0 1.6rem;
}

.padding-right-24 {
  padding-right: 2.4rem;
}

.padding-24, .elm-padding-24 {
  padding: 2.4rem;
}

.padding-8-16 {
  padding: 0.8rem 1.6rem;
}

.padding-left-40 {
  padding-left: 4rem;
}