/* =plm-header ----------------------------------------------- */
@import "~@/less/variables";
@import "~@/less/color";
@import "~@/less/reusable-classes";
@import "~@/less/background";
#plm-header {
  #plm-header-login {
    margin-top: 0;
    display: block;
    height:@headerLogin;

    .plm-header-top {
      padding-right: 21px !important;
      padding-left: 21px !important;

      #unLoginAvatar{
        min-height: 16px;
        min-width: 16px;
        margin-right: 8px;
      }

      /*#loginAvatar {
        background: url(/img/collaborator.svg) !important;
        background-size: 24px 24px !important;
        width: 24px !important;
        height: 24px !important;
        margin-right: 8px;
      }*/

      md-menu .md-button.md-icon-button {
        margin: 5px 0 0 0;
        padding: 0 8px;
        min-height: 5px;
        height: 0px;
        min-width: 10px;

        md-icon {
          margin: 0;
          padding: 0;
          height: 0px;
          min-height: 5px;
          min-width: 10px;
        }
      }

    }
  }

  .companyLogo {
    width: 163px;
    height: 41px;
    border: none;
    text-indent: -9999px;
    // display: block;
    //background-image: url("/img/elm-logo-with-text.svg");
    // background-image: url("/img/companyLogo/af_logo.png") at-2x;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }

  .lifeIsOn {
    background-image: url("../assets/img/lifeIsOn.png") at-2x;
  }

  .default-logo {
    background-image: url('../assets/img/elm-logo-with-text.svg');
  }

  .schneiderElectricLogo {
    width: 103px;
    height: 28px;
    border: none;
    text-indent: -9999px;
    // background-image: url(/img/ecostruxer.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 66px 18px;
    /* align-self: flex-start; */
    /* flex-direction: column; */
    /* float: left; */
  }


  .companyLogo-text {
    .companyLogo;
    //background-image: url("/img/elm-logo-with-text.svg");
    // background-image: url("/img/af_logo.png") at-2x;
    //background-image: url(@logoUrl);
  }

  .companyLogo-no-text {
    .companyLogo;
    //background-image: url("/img/elm-logo-with-text.svg");
    // background-image: url("/img/af_logo.png") at-2x;
    //background-image: url(@logoUrl);
    //width: 45px;
  }

  .companyLogo-green {
    .companyLogo;
    //background-image: url("/img/elm-logo-with-text.svg");
    // background-image: url("/img/af_logo.png") at-2x;
    //background-image: url(@logoUrl);
  }

  md-nav-bar.md-elm-default-bkg-theme-theme .md-button._md-nav-button.md-unselected {
    color: @base-white;
  }
}
.plm-header-wrapper {
  height: 36px;
  min-height: 40px !important;
  padding-left: 8px;
  color: @base-white;
}

.plm-header-menu {
  height: 100%;
  overflow: hidden;
  & .md-nav-bar {
    height: 100%;
    border: 0;
    & nav {
      height: 100%;
      & ul {
        height: 100%;
        li:first-child {
          padding-left: 0px;
          margin-left: 12px;
          a {
            padding-left: 0px;
            margin-left: 0px;
            font-size: 1.2rem;
          }
        }
        li a {
          font-size: 1.2rem;
          padding: 6px 0px;
          .color-white;

        }
        li button {
          padding: 6px 0px;
          .color-white;
        }
      }
    }
    & ul li button span {
      height: 100%;
      width: 8rem;
      .center;
      .color-white;
    }
    & md-nav-ink-bar {
      height: 3px;
    }
    & .md-nav-item {
      height: 100%;
      & .md-button {
        border-radius: 0;
        &:hover {
          border-radius: 0;
        }
        &:active {
          border-radius: 0;
        }
        &:visited {
          border-radius: 0;
        }
        &:focus {
          border-radius: 0;
        }
      }
    }
  }
}

.plm-tabs {
  width: 100%;
  background: @cool-green;
  height: @headerTabs;
  display: block;
  position: fixed;
  top: @headerLogin;
  z-index: 3;

  .md-toolbar {
    margin-top: 0;
    min-height: @headerTabs;
    background: transparent !important;
    padding-left: 21px;

    .md-tabs{ 
      padding-left: 0px !important;
    }
  }
}

// @media screen and (max-width: 960px) {
//   .plm-header-wrapper {
//     visibility: hidden;
//   }
// }

.plm-sidenav-menu {
  height: 100%;
  overflow: hidden;
  border: 0;
  & nav {
    height: 100%;
    & ul {
      height: 100%;
      flex-direction: column;
      li {
        & a button cd {
          padding: 24px 16px;
          .color-base-black;
          border-radius: 0;
        }
      }
    }
  }
  & .md-button {
    margin: 0;
    border-radius: 0;
  }
  & .md-accent {
    .color-base-black;
  }
  & .md-active {
    .color-base-white;
    .bg-green;
  }
  & md-nav-ink-bar {
    height: 4px;
  }
}

.disable-scroll-on-sidenav-open {
  overflow: hidden;
}
