/* =reusable-classes ----------------------------------------------- */
@import "~@/less/variables";
.margin-padding-0 {
  margin: 0;
  padding: 0;
}

.hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.block {
  display: block;
}

.bold, .filters-header {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.line-through {
  text-decoration: line-through;
}

.pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.not-allowed {
  cursor: not-allowed;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.marked {
  background: @light-grey;
  outline: 0;
}

.no-aria {
  outline: 0;
}

.img-border-green {
    box-shadow: 0 0 0 2pt @cool-green;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.lt-ie9 .elm-md-flex {
  display: block;
}

.lt-ie10 .elm-md-flex {
  float: left;
}

.elm-md-flex {
  display: flex;
}

.md-button.md-raised {
    box-shadow: none !important;
}

.md-button.md-raised:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}


.md-button[ng-disabled].md-raised:hover {
  box-shadow: none !important;
}

.md-button.md-raised:focus {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}

.md-open-menu-container {
    position: absolute !important;
    border-radius: 6px;
}

.md-dialog-is-showing {
  top: 0 !important;
  md-dialog.preview {
    background: transparent;
    top: 36px;

    .previewArea {
      background: transparent;

    .imageArea {
        width: 705px;
        height: 100%;
        max-height: 100%;
        background: @white-three;
        img {
          //This breaks showing images wider that the preview window
          //width: auto;
          //height: auto;
        }
      }
    .functionArea {
        width: 222px;
        min-height: 100%;
        background: @white-three;
      }
    }
  }
}

.spot {
  height: 246px;
  display: flex;
  margin: 8px;

  a, a:hover, a:visited, a:active, a:focus {
    color: @cool-green;
  }
}

.spotLarge {
  height: 492px;
  display: flex;
  margin: 8px;

  a, a:hover, a:visited, a:active, a:focus {
    color: @cool-green;
  }
}

.disable {
  fill: @black-overlay;
  cursor: default;
}

.disable-black {
  fill: @black-fade !important;
  cursor: default;
}

.disable-white {
  fill: @light-active;
  cursor: default;
}

.disable-light-grey {
  fill: @light-grey !important;
  cursor: default !important;
}

.disabled-component {
  pointer-events: none;
  opacity: 0.4;
}

.coming-soon {
  background-color: #E0E0E0;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight:900;
  padding-left:25px;
  padding-right:25px;
  text-transform: none;
}

.word-break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  hyphens: auto;
}

/*Have to specify the lenght also*/
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shadowed {
  box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.4);
}

.vertical-divider {
    padding-left: 25px;
    border-left: solid 1px fade(@dark-grey, 20%);
}

.vertical-divider-light {
    padding-left: 20px;
    border-left: solid 1px @light-active;
}

.elm-badge {
  line-height: 0px;
  padding: 12px 4px;
  border-radius: 12px;
  font-weight: bold;
  height: 24px;
  min-width: 24px;
  text-align: center;
}

.feed-header, .default-header {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: @cool-green;
  fill:  @cool-green;
}

.position-relative {
  position: relative;
}

.plm-fullscreen-panel {
  border-radius: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0; }