/* =safari ----------------------------------------------- */
@import "~@/less/variables";

/* Safari 10.1+ (alternate method) */

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
    .elm-modules-category.active {
      height: 219px;
    }
}}

/*https://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome*/
_::-webkit-full-page-media _:future, :root .elm-modules-category.active {
  height: 219px;
}
