/* =search ----------------------------------------------- */
@import "~@/less/variables";
.search {
  width: 300px;
  height: 35px;
}

.search-btn {
  min-width: 94px;
  min-height: 35px;
  background-color: @cool-green;
  border-radius: 0 3px 3px 0;
  border: 0;
  color: @base-white;
  &:active {
    background-color: @kelley-green;
  }
}
