/* =size ----------------------------------------------- */
.size-10 {
  height: 10px;
  width: 10px;
  min-height: 10px;
  min-width: 10px;
}

.size-12 {
  height: 12px;
  width: 12px;
  min-height: 12px;
  min-width: 12px;
}

.size-14 {
  height: 14px;
  width: 14px;
  min-height: 14px;
  min-width: 14px;
}

.size-16 {
  height: 16px;
  width: 16px;
  min-height: 16px;
  min-width: 16px;
}

.size-18 {
  height: 18px;
  width: 18px;
  min-height: 18px;
  min-width: 18px;
}

.size-19 {
  height: 19px;
  width: 19px;
  min-height: 19px;
  min-width: 19px;
}

.size-21 {
  height: 21px;
  width: 21px;
  min-height: 21px;
  min-width: 21px;
}

.size-24 {
  height: 24px;
  width: 24px;
  min-height: 24px;
  min-width: 24px;
}
.size-28 {
  height: 28px;
  width: 28px;
}

.size-32 {
  height: 32px;
  width: 32px;
}

.size-42 {
  height: 42px;
  width: 42px;
}

.icon-48 {
  height: 48px;
  width: 48px;
}

.size-60 {
  height: 60px;
  width: 60px;
}

.size-64 {
  height: 64px;
  width: 64px;
}

.size-80 {
  height: 80px;
  width: 80px;
}
