/*Colors*/
@base-white: #ffffff;
@white-two: #eaeaea;
@white-three: #f9f9f9;
@white-five: #f2f2f2;

@cool-green: #3dcd58;
@kelley-green: #009530;
@puke-green: rgba(106,205,88,1);

@base-black: #000000;
@black-four: #4a4a4a;

@tasty-orange: #f5a623;

@grey-border: #bbbdbf;
@light-grey-border: #eaeaea;
@light-grey: #eaeaea;
@medium-grey: #aaaaaa;
@dark-grey: #333333;
@warm-grey: #9b9b9b;
@rock-grey: #505559;

@teal: #4c9192;

@light-blue: #33b5e5;

@red: #ff0000;
@dark-red: #cf2027;

/*Transparent colors*/
/* Might use fade(@baseColor, 50%);*/
/* Or rgba(red(@baseColor), green(@baseColor), blue(@baseColor), 0.5);*/
/* If overriding a lot of opactity levels*/

/*@light-active: rgba(234, 234, 234, 0.5);*/
@light-active: fade(@white-two, 50%);
/*@black-overlay: rgba(0,0,0,0.6);*/

@black-overlay: fade(@base-black, 60%);

@black-fade: fade(@base-black, 30%);

/* @soft-green: rgba(61, 205, 88, 0.10);*/
@soft-green: fade(@cool-green, 10%);
/* @soft-grey: rgba(0, 0, 0, 0.06);*/
@soft-grey: fade(@base-black, 6%);

@base-font:10px;

@offset: 187;

@duration: 1.4s;

@collaboratorWidgetTabContent: 36px;

@headerLogin: 36px;
@headerTabs: 40px;
@headerHeight: @headerLogin + @headerTabs;
@headerWithBreadcrumbHeight: @headerHeight + 36;
@collaboratorWidgetWithBreadcrumbHeight: @headerWithBreadcrumbHeight + 16px;

@collboratorRepeatsHeight:(@headerHeight + @collaboratorWidgetTabContent + 44*2)/2;

/*Paths*/
@image_dir: '../images/';
@photos_dir: '../images/photos/';
@font_dir:'../fonts/';

@lib-font-family:ArialRounded;