/* =width ----------------------------------------------- */
.width-60percent {
  width: 60%;
}

.width-80percent {
  width: 80%;
}

.width-100precent {
  width: 100%;
}

.min-width-250 {
  min-width: 250px;
}
