<template>
  <div class="OpenEcosystemCollaborationLanding">
    <div v-if="$route.meta.product === 'open-ecosystem-collaboration-landing'">
      <div class="plm-tabs">
        <div class="md-hide-small">
          <md-toolbar md-theme="elm-default-header-theme" class="plm-header-wrapper plm-header-top">
            <div style="width: 100%; height: inherit;" class="md-hide-small">
              <md-tabs md-sync-route class="md-primary">
                <md-tab md-label="Shop" to="/open-ecosystem-collaboration-landing/#shop"></md-tab>
                <md-tab md-label="Collaborate" to="/open-ecosystem-collaboration-landing/#collaborate"></md-tab>
                <md-tab md-label="Design Data" to="/open-ecosystem-collaboration-landing/#design-data"></md-tab>
                <md-tab md-label="Get Expertise" to="/open-ecosystem-collaboration-landing/#get-expertise"></md-tab>
                <md-tab md-label="Publish" to="/open-ecosystem-collaboration-landing/#publish"></md-tab>
              </md-tabs>
            </div>
          </md-toolbar>
        </div>
      </div>
    </div>
    <div class="md-layout landing md-layout-column-small md-layout-row-medium">
      <div class="md-layout-column md-layout my-container bg-city md-align-end-center">
        <div class="puff center">
          <span class="font-size-32 bold">Open Ecosystem Collaboration</span><br><br>
          <span class="font-size-32 capitalize">The power distribution IoT platform</span>
        </div>
      </div>
    </div>
    <div class="md-layout landing md-layout-column-small md-layout-row-medium">
      <div flex="auto" class="md-layout-row md-layout md-flex-xsmall-100 md-flex-small-100 md-flex-medium-50 md-flex-large-50 md-flex-xlarge-50">
        <div class="md-layout-column md-layout my-container my-container1 md-align-end-center">
          <div class="puff bg-light-overlay">
            <h1>Open Ecosystem Collaboration</h1>
            <span>Collaborative project lifecycle management platform, seamlessly integrating ISV solutions to support project stakeholders throughout the building lifecycle (CAPEX and OPEX).</span>
          </div>
        </div>
      </div>
      <div flex="auto" class="md-layout-row md-layout md-flex-xsmall-100 md-flex-small-100 md-flex-medium-50 md-flex-large-50 md-flex-xlarge-50">
        <div class="md-layout-column md-layout my-container my-container2 md-align-end-center">
          <div class="puff bg-light-overlay">
            <h1>Power.AI</h1>
            <span>Combination of Data and Analytics enabling the ecosystem to bring high value-added solutions with advanced AI.</span>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'OpenEcosystemCollaborationLanding',
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .my-container {
    position: relative;
    overflow: hidden;
    padding: 138px 0;
    background-color: #000;
  }

  .my-container1:before {
    background-image: url('../assets/img/bees.gif');
  }

  .my-container2:before {
    background-image: url('../assets/img/climb.jpg');
  }

  .bg-city:before {
    background-image: url('../assets/img/city.jpg');
  }

  .my-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .my-container .puff {
    padding: 18px;
    z-index: 2;
    position: relative;
    color: #fff;
    min-width: 300px;
    margin: 0px 138px;
  }

</style>
