<template>
  <div class="PowerAi">
    <div class="md-layout landing md-layout-column-small md-layout-row-medium">
      <div class="md-layout-column md-layout my-container bg-city md-align-end-center">
        <div class="puff center">
          <span class="font-size-32 bold">Power Ai app</span><br><br>
          <contacts></contacts>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Contacts from '../components/Contacts';

  export default {
    name: 'PowerAi',
    components: {
      Contacts,
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .my-container {
    position: relative;
    overflow: hidden;
    padding: 138px 0;
    background-color: #000;
  }

  .my-container1:before {
    background-image: url('../assets/img/bees.gif');
  }

  .my-container2:before {
    background-image: url('../assets/img/climb.jpg');
  }

  .bg-city:before {
    background-image: url('../assets/img/city.jpg');
  }

  .my-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .my-container .puff {
    padding: 18px;
    z-index: 2;
    position: relative;
    color: #fff;
    min-width: 300px;
    margin: 0px 138px;
  }

</style>
