<template>
  <div class="Constacts md-primary" style="">
    Contacts
    {{users.length}}
    <ul id="example-1">
      <li v-for="user in users">
        <initials :user="user" size="70"></initials>
        {{ user.firstName }}
        {{ user.lastName }}
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Initials from '@/components/Initials';

export default {
  name: 'Constacts',
  components: {
    Initials,
  },
  methods: {
    ...mapActions({ fetchContacts: 'contacts/fetch' }),
  },
  computed: {
    ...mapGetters({ users: 'contacts/get' }),
    ...mapGetters({ ids: 'contacts/getIds' }),
  },
  created() {
    this.fetchContacts();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less">

</style>
