<template>
  <span class="initials" :style="style">
    <span v-if="!hasAvatar">{{ initials }}</span>
    <img v-if="hasAvatar" :src="avatarSrc">
  </span>
</template>

<script>
  import { userColor } from '@/services/colorService';

  export default {
    name: 'Initials',
    props: [
      'user',
      'size',
    ],
    data() {
      return {
        color: userColor(this.user),
      };
    },
    methods: {
      getInitials() {
        if (!(this.user && this.user.firstName && this.user.lastName)) {
          return '??';
        }
        const first = this.user.firstName.substring(0, 1);
        const last = this.user.lastName.substring(0, 1);
        return `${first}${last}`;
      },
    },
    computed: {
      initials() { return this.getInitials(); },
      hasAvatar() {
        return this.user.avatarPresent;
      },
      avatarSrc() {
        const suffix = (this.size && this.size > 40) ? 'avatar' : 'thumbnail';
        return `//dces-plm-ppr.s3.amazonaws.com/${this.user.id}/${suffix}.png`;
      },
      style() {
        return `
        background-color: ${this.color};
        font-size: ${this.size / 2.2}px;
        height: ${this.size}px;
        width: ${this.size}px;
        `;
      },
    },
  };
</script>

<style scoped lang="less">
  @import "~@/less/color";
  .initials {
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    text-align: center;

    span {
      display: inline-block;
      color: @white-five;
      line-height: 0px;
      font-weight: bold;
      padding-top: 50%;
      padding-bottom: 50%;
      text-transform: uppercase;
      border-color: @grey-border;
    }

    img {
      border-radius: 50%;
    }
  }
</style>
