<template>
  <div class="PlmFooter">
    <div class="md-layout footer" >
      <div class="md-layout-row md-layout flex-nogrow md-alignment-center-left">
        <img class="logo" src="../assets/img/lifeison-schneider.svg"/>
      </div>
      <div class="md-layout-row md-layout md-alignment-center-left">
        <md-button class="margin-left-24 md-primary">Support</md-button>
      </div>
      <div class="md-layout-row md-layout md-alignment-center-right">
        © Copyright reserved SCHNEIDER ELECTRIC
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'PlmFooter',
  };
</script>
<style scoped lang="less">
  @import url('../less/plm');

  .footer {
    background-color: @white-five;
    color: @dark-grey;
    padding: 8px 32px;

    .logo {
      height: 36px;
      width: auto;
      .flex-nogrow;
    }
  }
</style>
