<template>
  <div>
    <plm-login id="plm-header-login"></plm-login>
          <div>
            <!-- Landing pages END -->
            <!-- App pages START -->
            <md-tabs v-if="$route.meta.product === 'portal'" md-sync-route class="md-primary">
              <md-tab id="tab-home" md-label="Collborate" to="/portal/collaborate"></md-tab>
            </md-tabs>
            <!-- App pages END -->
          </div>

          <!-- <md-tabs @change="changeHandler" ref="tabs" v-if="$route.path === '/'" nav-bar-aria-label="navigation links" class="plm-header-menu">
            <md-tab @click="toTo" md-label="Power Online" class="large upper-case md-active" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
            <md-tab md-label="Services & Data API" :md-options="{new_badge: 3}" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
            <md-tab md-label="Libraries" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
            <md-tab md-label="SDK and Downloads" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
            <md-tab md-label="Marketplace" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
          </md-tabs> -->
          <!-- <md-tabs v-if="$route.path == '/plm'" nav-bar-aria-label="navigation links" class="plm-header-menu">
            <md-tab md-active=true md-label="Plm" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
            <md-tab md-label="Services & Data API" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
            <md-tab md-label="Libraries" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
            <md-tab md-label="SDK and Downloads" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
            <md-tab md-label="Marketplace" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
          </md-tabs>
          <md-tabs v-if="$route.path == '/power'" nav-bar-aria-label="navigation links" class="plm-header-menu">
            <md-tab md-active=true md-label="POWER.AI" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
            <md-tab md-label="Services & Data API" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
            <md-tab md-label="Libraries" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
            <md-tab md-label="SDK and Downloads" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
            <md-tab md-label="Marketplace" class="large upper-case" style="line-height:24px; display: inline; position: initial;">
            </md-tab>
          </md-tabs> -->

      <!--   </div>
      </md-toolbar>
      </div> -->


      <!-- <div style="height:100%;" class="md-layout-row md-layout plm-header-top md-hide-medium-and-up md-layout md-align-end-center">
        <div @click="toggleRightSidenav">
          <md-icon class="md-icon color-white">menu</md-icon>
        </div>
      </div> -->


    <!-- </div> -->



    <!-- <md-drawer class="md-right" :md-active.sync="showSidepanel" ref="rightSidenav">
      <md-toolbar>
        <div md-row md-align="end" class="md-layout md-toolbar-container">
          <md-button class="md-accent margin-0" style="margin-right: 0px; width: auto;" @click="toggleMenu">
            <md-icon class="md-icon color-white">clear</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <nav flex="auto" class="layout-fill">
        <ul v-if="$route.path === '/'" class="plm-sidenav-menu elm-tight layout-fill" flex="auto"  layout="column">
          <span>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-active md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">Power Online</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">Services & Data API</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">Libraries</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">SDK and Downloads</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">Marketplace</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
          </span>
        </ul>
        <ul v-if="$route.path == '/plm'" class="plm-sidenav-menu elm-tight layout-fill" flex="auto"  layout="column">
          <span>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-active md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">Plm</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">Services & Data API</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">Libraries</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">SDK and Downloads</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">Marketplace</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
          </span>
        </ul>
        <ul v-if="$route.path == '/power'" class="plm-sidenav-menu elm-tight layout-fill" flex="auto"  layout="column">
          <span>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-active md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">POWER.AI</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">Services & Data API</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">Libraries</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">SDK and Downloads</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
            <li flex="auto" layout="row" layout-align="start center" @click="toggleMenu">
              <a href="#" name="" class="_md-nav-button md-button layout-fill md-ink-ripple md-layout md-row md-align-start" flex="none" layout="row" layout-align="start center">
                <span class="_md-nav-button-text">Marketplace</span>
              </a>
              <div class="md-ripple-container"></div>
            </li>
            <md-divider class="md-elm-header-sidenav-theme-theme"></md-divider>
          </span>
        </ul>
      </nav>
    </md-drawer> -->
  </div>
</template>

<script>
import PlmLogin from '@/components/PlmLogin';

export default {
  name: 'PlmHeader',
  components: {
    PlmLogin,
  },
  methods: {
  },
  data: () => ({
    showNavigation: false,
    showSidepanel: false,
  }),
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .page-container {
    min-height: 300px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(#000, .12);
  }

   // Demo purposes only
  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }

  .md-content {
    padding: 16px;
  }
  img.svg { fill: #b9c9d4; }
</style>
