<template>
  <div class="plm-header-top">
    <div class="md-layout-row md-layout md-alignment-bottom-center layout-fill">
      <!--<span class="appLogo" hide-sm hide-xs></span>-->
      <span class="appLogo" style="height: 100%;"><router-link to="/landing" style="display: block; height:100%; width:100%;"></router-link></span>
      <md-menu md-size="auto" md-align-trigger class="md-layout-row md-layout md-alignment-left-center md-layout-item md-size-10">
        <md-button class="color-green md-layout-row md-layout md-alignment-left-center" md-menu-trigger style="text-transform: none;">
          <span style="postion:relative; display: inline-flex; padding-top: 1px;" class="standard-font width: 100;">Exchange
         <!--  <svg aria-hidden="true"><use xlink:href="/static/img/ic_keyboard_arrow_down_black_24px.cd90a7a.svg"></use></svg> -->
          <md-icon md-src="/static/img/ic_keyboard_arrow_down_black_24px.svg" class="fill-green size-16 md-layout md-alignment-center-center" style="postion: absolute;" />
          <!-- <object type="image/svg+xml" data="/static/img/ic_keyboard_arrow_down_black_24px.cd90a7a.svg" class="logo fill-green">
          </object> -->
          <!-- <img class="fill-green size-24" src="../assets/img/ic_keyboard_arrow_down_black_24px.svg" aria-label="login"> -->
          </span>
        </md-button>
        <md-menu-content md-theme="default">
          <div class="md-layout-column md-layout md-alignment-left-center">
            <li class="md-list-item md-menu-item">
              <div class="md-list-item-default md-list-item-container md-button-clean">
                <div class="md-ripple md-list-item-content md-disabled md-layout-column md-layout md-alignment-center-left">
                <router-link to="/exchange-power-landing"><h4 class="margin-0">Exchange Power</h4></router-link>
                <ul style="font-size: 1.2rem; padding-left: 10px;" class="margin-top-4 sub-list">
                  <li style="padding: 8px 0px 8px 0px;">
                    <router-link to="/external/plm">Open Ecosystem Collaboration</router-link>
                  </li>
                  <li style="padding: 8px 0px 8px 0px;">
                    <router-link to="/power-ai-landing/">Power.AI</router-link>
                  </li>
                  <li style="padding: 8px 0px 8px 0px;">
                    <router-link to="/liquid-workforce-landing/">Liquid Workforce</router-link>
                  </li>
                </ul>
                </div>
              </div>
            </li>
          </div>
          <hr style="height: auto;
    position: relative;
    z-index: 2; width: 100%; margin: 0px;">
          <md-menu-item>
            <router-link to="/exchange-industry-landing/"><h4 class="margin-0">Exchange Industry</h4></router-link>
          </md-menu-item>
          <hr style="height: auto;
    position: relative;
    z-index: 2; width: 100%; margin: 0px;">
          <md-menu-item><router-link to="/exchange-building-landing/"><h4 class="margin-bottom-0">Exchange Building</h4></router-link></md-menu-item>
        </md-menu-content>
      </md-menu>
      <a href="" style="display: flex; padding: 0px 0px; align-items: center;
    min-height: 100%" class="_md-nav-button md-button md-elm-default-header-theme-theme md-ink-ripple md-active md-primary color-green bold capitalize md-elm-default-theme-theme">Shop</a>
    <a href="" style="display: flex; padding: 0px 0px; align-items: center;
    min-height: 100%" class="_md-nav-button md-button md-elm-default-header-theme-theme md-ink-ripple md-active md-primary color-green bold capitalize md-elm-default-theme-theme">Develop</a>
    <a href="" style="display: flex; padding: 0px 0px; align-items: center;
    min-height: 100%" class="_md-nav-button md-button md-elm-default-header-theme-theme md-ink-ripple md-active md-primary color-green bold capitalize md-elm-default-theme-theme md-primary">Publish</a>
      <span hide-gt-sm flex>&nbsp;</span>
      <span hide-sm hide-xs flex class="font-size-24 margin-left-32"></span>
      <div class="md-layout md-alignment-center-right layout-fill">
        <ul class="md-layout md-alignment-center-right margin-0">
          <!-- <li id="header-country-selector"><a data-toggle="modal" data-target="#se-country-language-selection-modal">{{selectedCountryLangauge}}</a></li> -->
          <li>
            <a v-if="!loggedIn" @click="clickedOnLogin" class="pointer color-black">

              <img id="unLoginAvatar" class="fill-black size-16" src="../assets/img/login_avatar.svg" aria-label="login">
               {{$gettext('_Login')}}
            </a>
            <span v-if="loggedIn">{{me.firstName}} {{me.lastName}}</span>
            <initials v-if="me.id" :user="me" :size="25"></initials>
            <a class="pointer color-black" v-if="loggedIn" @click="clickedOnLogout()">{{$gettext('_Logout')}}</a>
          </li>
  <!--         <li layout="row" layout-align="start center" class="pointer header-logged-in" ng-show="loginUser">
            <plm-header-notifications></plm-header-notifications>

            <div class="vertical-divider" style="height: 18px;"></div>
            <span class="margin-left-4" layout="column" layout-align="center" hide>{{loginUser.firstName }} {{loginUser.lastName }}</span>
           <md-menu-bar style="padding: 0px;
        margin-top: -7px;" layout="row" layout-align="end center">
            <md-menu layout="row" layout-align="end center">
              <md-button layout="row" layout-align="end center" aria-label="Open demo menu" ng-click="$mdOpenMenu($event)" class="md-icon-button" style="padding-right: 0px; width: auto;height: 6px;">
                  <md-icon md-menu-origin class="fill-black size-16" md-svg-src="images/icons/arrow-drop-down.svg"
                           aria-label="menu">
                  </md-icon>
              </md-button>
              <md-menu-content>
               <md-menu-item>
                 <md-button ng-click="plmHeaderLoginCtrl.goToMyAccount()" class="capitalize">
                    {{'_My_account' | translate}}
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="logout()">
                    {{'_Logout' | translate}}
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-menu>
                    <md-button ng-click="$mdOpenMenu()">{{'_Language' | translate}}</md-button>
                    <md-menu-content>
                      <md-menu-item ng-repeat="item in plmHeaderLoginCtrl.countriesAndLanguages">
                        <md-menu>
                          <md-button ng-click="$mdOpenMenu()">{{::item.region}}</md-button>
                          <md-menu-content>
                            <md-menu-item ng-repeat="country in item.Countries">
                              <md-button ng-click="plmHeaderLoginCtrl.setLanguage(country.value, country.locale)">
                                {{::country.name}}
                              </md-button>
                            </md-menu-item>
                          </md-menu-content>
                         </md-menu>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </md-menu-item>
                <md-menu-item>
                  <md-switch md-invert class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="plmHeaderLoginCtrl.notificationStatus" ng-change="plmHeaderLoginCtrl.onChangeNotification(plmHeaderLoginCtrl.notificationStatus)">
                  {{'_Notifications' | translate}}
                  </md-switch>
                </md-menu-item>
                <md-menu-item>
                  <md-switch md-invert class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="plmHeaderLoginCtrl.soundStatus" ng-change="plmHeaderLoginCtrl.onChangeSound(plmHeaderLoginCtrl.soundStatus)">
                  {{'_Sounds' | translate}}
                  </md-switch>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            </md-menu-bar>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import loginRedirectService from '@/services/loginRedirectService';
import loginStateService from '@/services/loginStateService';
import Initials from '@/components/Initials';
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'PlmLogin',
  components: {
    Initials,
  },
  methods: {
    clickedOnLogin: () => {
      loginRedirectService.login();
    },
    clickedOnLogout: () => {
      loginRedirectService.logout();
    },
    ...mapActions({ fetchMe: 'meModule/fetchMe' }),
  },
  created() {
    if (this.loggedIn) {
      this.fetchMe();
    }
  },
  computed: {
    // ...mapState(['me/me']),
    ...mapGetters({ me: 'meModule/getMe' }),
    loggedIn() {
      return loginStateService.isLoggedIn();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less">
  @import "~@/less/fontface";
  @import "~@/less/color";

  .plm-header-top {
    padding-right: 21px;
    padding-left: 21px;

    .appLogo {
      /*margin-left: 24px;*/
      width: 135px;
      height: 32px;
      border: none;
      text-indent: -9999px;
      background-image: url("../assets/img/ecostruxure.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
      align-self: flex-start;
      /* flex-direction: column; */
      /* float: left; */
    }

    #unLoginAvatar{
      min-height: 16px;
      min-width: 16px;
      margin-right: 8px;
    }

    md-menu .md-button.md-icon-button {
      margin: 5px 0 0 0;
      padding: 0 8px;
      min-height: 5px;
      height: 0px;
      min-width: 10px;

      md-icon {
        margin: 0;
        padding: 0;
        height: 0px;
        min-height: 5px;
        min-width: 10px;
      }
    }
    .md-menu .md-button-content {
      font-size: 1.4rem;
      font-weight: bold;
    }
    ul.sub-list {
      li {
         padding: 8px 0px 8px 0px;
      }

    }

  }
  .md-menu-content-bottom-start {
    a, span {
      font-family: 'Nunito' !important;
    }
    a:hover {
      .color-kelley-green
    }
    font-weight: bold;
  }
</style>
