/**
 * The default theme palette
 * primary: indigo 500 #3f51b5
 * accent: pink 500 #e91e63
 * theme: light
 *
 * It can be used just before importing the Vue Material stylesheet
 *
 * ---
 * @access public
 * @type colormap
 * @group themes
 */

$md-default-palette: (
  primary: md-get-palette-color(blue, A200),
  accent: md-get-palette-color(red, A200),
  theme: "light"
) !default;


/**
 * Temporary variable to store all themable values
 * ---
 * @access private
 * @type map
 * @group themes
 */
$md-theme-palette: ();


/**
 * Map variable to store all themes to be processed by each component
 * ---
 * @access private
 * @type map
 * @group themes
 */
$md-themes: ();


/**
 * Store the current theme name
 * ---
 * @access private
 * @type string
 * @group themes
 */

$md-current-theme: null;


/**
 * The color contrast values
 * ---
 * @access private
 * @type map
 * @group themes
 */

$md-color-levels: (
  light: (
    background: #3dcd58,
    background-variant: #3dcd58,
    text-primary: white,
    text-accent: white,
    text-hint: rgba(#000, .38),
    disabled: rgba(#000, .26),
    disabled-background: rgba(#000, .12),
    highlight: rgba(#000, .12),
    icon: rgba(#000, .54),
    icon-disabled: rgba(#000, .38),
    divider: rgba(#000, .12),
    scrollbar: #757575,
    scrollbar-background: darken(#eee, 5%),
    tooltip: #616161
  ),
  dark: (
    background: #FFF,
    background-variant: white,
    text-primary: #3dcd58,
    text-accent: #3dcd58,
    text-hint: rgba(#fff, .5),
    disabled: rgba(#fff, .3),
    disabled-background: rgba(#fff, .12),
    highlight: rgba(#fff, .12),
    icon: #fff,
    icon-disabled: rgba(#fff, .5),
    divider: rgba(#fff, .12),
    scrollbar: #9E9E9E,
    scrollbar-background: #212121,
    tooltip: #fff
  )
);

