<template>
  <div id="app">
   <!-- Header -->
   <plm-header id="plm-header"></plm-header>
    <router-view id="router-view" />
    <!-- footer -->
   <plm-footer id="plm-footer"></plm-footer>
  </div>
</template>

<script>
import PlmHeader from '@/components/PlmHeader';
import PlmFooter from '@/components/PlmFooter';
import loginTimerService from '@/services/loginStateService';

export default {
  name: 'app',
  components: {
    PlmHeader,
    PlmFooter,
  },
  mounted: () => {
    loginTimerService.init();
  },
};
</script>

<style lang="scss">
@import "~@/sass/theme/engine"; // Import the theme engine

@include md-register-theme("elm-default-header-theme", (
  primary: md-get-palette-color(SELightGreen, 500), // The primary color of your application
  accent: md-get-palette-color(SELightGreen, 50), // The accent and secondary color
  theme: light
));

@include md-register-theme("default", (
  primary: md-get-palette-color(SELightGreen, 500), // The primary color of your application
  accent: md-get-palette-color(SELightGreen, 500), // The accent and secondary color
  theme: dark
));

@import "~@/sass/theme/all"; // Apply the theme

</style>

<style lang="less">
@import "~@/less/plm"; // Import the theme engine
</style>
